<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <!-- CSS -->
    <link href="~/css/style.css" rel="stylesheet" />

    <title>@ViewBag.Title - Ocean</title>
</head>
<body>
    <div class="col-sm-12 bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <img class="mb-2" src="~/images/Logo/icons8-water-element-96.png" alt="" width="40" height="40">
            <div class="navbar-brand text-light ml-2"><h3>Ocean</h3></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @ViewData["active-home"]">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item @ViewData["active-video"]">
                        <a class="nav-link" asp-controller="Video" asp-action="Index">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @ViewData["active-last-video"]" asp-controller="Video" asp-action="LastAdded">Last Added</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @ViewData["active-my-list"]" asp-controller="Video" asp-action="MyList">My List</a>
                    </li>
                </ul>

                @if (User.IsInRole("User"))
                {
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <img src="~/images/Profile/icons8-anonymous-mask-48.png" class="bg-primary" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Account" asp-action="ManageProfiles">Manage profiles</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="SelectProfile">Change profile</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Account" asp-action="MyAccount">My account</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Log out</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-light mr-2">
                        <a class="text-light" asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                }

                <form class="form-inline" asp-controller="Video" asp-action="Search" method="post">
                    <input class="form-control" type="search" name="search" placeholder="Search">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="col-sm-12 bg-light">
        @RenderBody()
    </div>

    <!-- jQuery, Popper.js, Bootstrap JS, JavaScript -->
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/site.js"></script>
    <script src="~/js/app.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
